.modalCityWrap
	a
		margin: 0 15px 15px 0
		line-height: 18px
		display: block
		font-family: "RobotoLight"
	.allCitys
		font-size: 40.96px
		text-decoration: underline
		text-align: center
		font-family: "RobotoBold"
		display: block
		margin: 0
		line-height: 40px
	.modalAllCity
		margin: 30px 0 40px