@import ../styles/vars
@import ../styles/theme

.personalArea
	display: flex
	flex-direction: row
	justify-content: space-between
	height: 100%
	.exitBtn
		display: block
		margin-top: 60px
		margin-left: 15px
		text-align: center
	.personalDatasAccount
		width: 100%
		max-width: 589px
		background: white
		border-radius: 4px
		padding: 34px 31px
		.trToggle
			display: none !important
			&.active
				display: flex !important
				justify-content: space-between
				align-items: center
		.titleBlock
			display: flex
			justify-content: space-between
			&>p
				font-family: "RobotoBold"
				font-size: 16px
				color: #8d8c8c
				line-height: 18px
				text-transform: uppercase
			.sentMessage
				display: flex
				align-items: center
				i
					margin-right: 10px
					font-size: 18px
					color: $colorLead
				p
					color: $colorLead
					font-family: "RobotoLight"
		.tabsBlock
			&>p
				font-family: "RobotoBold"
				font-size: 16px
				color: #8d8c8c
				line-height: 18px
				text-transform: uppercase
				margin-bottom: 49px
			.sendAndRegTabs
				width: auto
				&>div
					margin-bottom: 15px !important
				.cardItemWrap
					.button3
						display: none
					.buttonsList
						& > a
							display: none

	.accountType
		width: 100%
		max-width: 507px
		background: white
		border-radius: 4px
		padding: 34px 31px
		.title
			font-size: 41px
			font-family: "RobotoBold"
			color: "#8d8c8c"
			text-align: center
			text-transform: uppercase
			line-height: 29px
		.subTitle
			font-size: 25.6px
			font-family: "RobotoBold"
			color: "#8d8c8c"
			text-align: center
			text-transform: uppercase
			line-height: 20px
			margin-top: 39px
		.buttons
			display: flex
			flex-direction: row
			justify-content: space-between
			margin-top: 39px
			.typeBtn
				height: 135px
				width: 135px
				background: $colorLead
				display: flex
				align-items: center
				flex-direction: column
				justify-content: center
				border-radius: 4px
				@extend .shadowMaterial1
				&:hover
					background: #ff9800
				text-decoration: none
				i
					color: white
					font-size: 50px
					margin-bottom: 5px
				p
					color: white
					text-decoration: none
					text-align: center
					font-size: 14px
					line-height: 15px
					font-family: "RobotoBold"
					text-transform: uppercase
				&.active
					background: #ff9800
		.price
			text-align: center
			font-family: "RobotoBold"
			font-size: 41px
			color: #8d8c8c
			text-transform: uppercase
			line-height: 29px
			margin-top: 39px
		.inMonth
			text-align: center
			font-family: "RobotoBold"
			font-size: 25.6px
			color: #8d8c8c
			text-transform: uppercase
			line-height: 29px
			margin-top: 20px
		.button1
			margin-left: 16px

@media screen and (max-width: 1200px)	
	.personalArea
		flex-direction: column
		.personalDatasAccount
			order: 2
			max-width: 100%	
			margin-top: 30px
		.accountType
			order: 1
			max-width: 100%	

@media screen and (max-width: 768px)
	.sendAndRegTabs
		.cardItemWrap
			margin-bottom: 80px
			&:last-child
				margin-bottom: 40px

@media screen and (max-width: 600px)
	.personalArea .accountType,
	.personalDatasAccount
		.buttons .typeBtn
			height: 107px
			width: 107px
			i
				font-size: 40px
			p
				text-transform: none

		.subTitle, .title, .price
			font-size: 25.6px
		.subTitle, .inMonth
			margin-top: 10px
		td
			font-size: 15px

	.personalArea .personalDatasAccount
		padding: 30px 15px

	.personalArea .accountType
		padding: 34px 20px

@media screen and (max-width: 480px)
	.personalArea .accountType
		.buttons 
			flex-wrap: wrap
			.typeBtn
				height: 107px
				width: 100%

	.personalDatasAccount
		table
			margin-top: 10px
			tr
				flex: 1
				flex-direction: column
				td
					text-align: left !important
					padding: 16px 16px
			.trToggle
				align-items: left !important
				& > td:first-child
					padding-bottom: 0
					div
						width: 100% !important
		

	.tabsBlock > p
		margin-bottom: 25px !important

	.sendAndRegTabs
		.tabBtn
			text-transform: none !important
			font-size: 15px !important