.image-gallery-content
	&.fullscreen
		.image-gallery-fullscreen-button
			top: -20%
			right: 0
			height: 60px
			width: 60px
			cursor: pointer

			&.active::before
				content: '×'

	.image-gallery-fullscreen-button
		&::before
			content: ''
		height: 100%
		width: 100%

	.image-gallery-image
		display: flex
		justify-content: center
		& > img
			width: auto
			max-height: 600px !important
			height: 100%

.image-gallery-slide
	.image-gallery-image
		position: relative
		height: 500px
		background-color: #717171
		overflow: hidden

		img
			position: absolute
			right: -9999px
			left: -9999px
			top: -9999px
			bottom: -9999px
			margin: auto
			max-height: 519px !important
			height: 100% !important
			width: auto !important

	@media screen and (max-width: 768px)
		.image-gallery-image
			height: 200px

			img
				max-height: 200px !important