@import ../../../styles/vars
	
.adv
	.advHeader
		display: flex
		justify-content: space-between
		margin-bottom: 20px

	.advTime
		margin-top: 5px

	.advPrice
		font-size: 25px
		color: black

	.advContent
		display: flex
		justify-content: space-between

		& > div
			flex: 1

		.advContacts


	.advSubArticle
		margin-top: 20px

		.advType
			padding-bottom: 20px
			border-bottom: 1px solid $colorSpace1

			span
				color: #a9a8a8
		
		.advDescription
			padding-top: 20px